---
layout: default
permalink: /
---

<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <!-- <h3>The Integrated Reseach Infrastructure (IRI) is a new Department of Energy (DOE) Office of Science
                    program encompassing all <a href="https://science.osti.gov/ascr" target="_blank">Advanced Scientific
                        Computing Research</a> (ASCR) Facilities and
                    participating domain partners</h3> -->
                <!-- <p class="col-12" style="margin: auto;">The IRI program involves the whole ASCR Facilities ecosystem
                    (and potentially, the broader DOE research
                    computing ecosystem)</p> -->
                <h3>DOE's Integrated Research Infrastructure (IRI) will seamlessly link DOE's experimental and
                    observational scientific user facilities, data assets, and advanced computing resources so that
                    researchers can combine these tools in novel ways that radically accelerate discovery</h3>
                <p class="col-12" style="margin: auto;">The term ASCR Facilities Ecosystem represents the fact that
                    ASCR's computing (<a href="https://www.alcf.anl.gov/" target="_blank">ALCF</a>, <a
                        href="https://www.olcf.ornl.gov/" target="_blank">OLCF</a>, <a href="https://www.nersc.gov/"
                        target="_blank">NERSC</a>) and networking (<a href="https://www.es.net/"
                        target="_blank">ESnet</a>) user facilities are not isolated but are richly connected, and
                    increasingly integrate efforts to enable DOE mission objectives. The ASCR Facilities Ecosystem will
                    grow to include the <a href="https://hpdf.science/" target="_blank">High Performance Data
                        Facility</a>, spanning high performance computing, data, and networking infrastructure</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center mb-4">
                <h3 class="border-bottom pb-3 mb-3 mx-2">DOE Facility Interface Improvement</h3>
                <p>IRI is being designed to create better interfaces between DOE user facilities</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center mb-4">
                <h3 class="border-bottom pb-3 mb-3 mx-2">Integrated Frameworks for IRI</h3>
                <p>IRI will include frameworks for integration in software, policy and governance</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center mb-4">
                <h3 class="border-bottom pb-3 mb-3 mx-2">Enhancing Facility Capabilities</h3>
                <p>IRI will layer on top of existing (and future) facility capabilities, to enhance integration and
                    usability/user experience</p>
            </div>

            <div class="col-lg-3 col-sm-6 text-center mb-4">
                <h3 class="border-bottom pb-3 mb-3 mx-2">Managing ASCR Integration</h3>
                <p>IRI is the means by which we will manage the ASCR ecosystem and its further integration that is
                    required specifically for the Office of Science</p>
            </div>

        </div>
    </div>
</section>

<!-- <section class="section pb-5 pt-0">
    <div class="container">
        <div class="col-12">
            <div class="border-bottom border-default"></div>
        </div>
    </div>
</section> -->

<section class="section pb-0 pt-0">
    <div class="container">
        <div class="row">
            {% assign news = site.news | sort: "date" | reverse %}
            {% for news in news %}
            <div class="col-lg-3 mb-5">
                <h2 class="h5 section-title">{{ news.headline }}</h2>
                <article class="card">
                    <div class="post-slider slider-sm">
                        <img src="images/news/{{ news.image }}" class="card-img-top" alt="post-thumb"
                            style="object-fit: cover; height: 15em">
                    </div>
                    <div class="card-body">
                        <h3 class="h4 mb-3"><a class="post-title" href="/{{ news.url }}">{{ news.title }}</a></h3>
                        <ul class="card-meta list-inline">
                            <li class="list-inline-item">
                                <i class="ti-calendar"></i>{{ news.date | date_to_string: "ordinal", "US" }}
                            </li>
                        </ul>
                        <a href="{{ news.url }}" class="btn btn-outline-primary">Read More</a>
                    </div>
                </article>
            </div>
            {% endfor %}

            {% assign events = site.events | sort: 'date' | reverse  %}
            {% for event in events %}
            <div class="col-lg-3 mb-5">
                <h2 class="h5 section-title">{{ event.headline }}</h2>
                <article class="card">
                    <div class="post-slider slider-sm">
                        <img src="{{ event.image }}"
                            class="card-img-top" alt="post-thumb">
                    </div>
                    <div class="card-body">
                        <h3 class="h4 mb-3"><a class="post-title" href="{{ event.url }}">There will be multiple IRI
                                presentations at ESnet's upcoming Confab25 conference running April 7-9, 2025</a></h3>
                        <ul class="card-meta list-inline">
                            <li class="list-inline-item">
                                <i class="ti-calendar"></i>{{ event.date | date_to_string: "ordinal", "US" }}
                            </li>
                        </ul>
                        <a href="{{ event.url }}" class="btn btn-outline-primary">Read More</a>
                    </div>
                </article>
            </div>
            {% endfor %}

            <!-- <div class="col-lg-4 mb-5">
                <h2 class="h5 section-title">Pathfinder Projects</h2>
                <article class="card mb-3">
                    <div class="card-body d-flex">
                        <div class="ml-3">
                            <h4><a href="/pathfinders/lightsources" style="color: #000;">Light Sources</a></h4>
                            <ul class="card-meta list-inline mb-0">
                                <li class="list-inline-item mb-0">
                                    Advanced Light Source (ALS), Advanced Photon Source (APS), Linac Coherent Light
                                    Source (LCLS), National Synchrotron Light Source II (NSLS-II)
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article class="card mb-3">
                    <div class="card-body d-flex">
                        <div class="ml-3">
                            <h4><a href="/pathfinders/fusion" style="color: #000;">Plasma Physics and Fusion Energy</a></h4>
                            <ul class="card-meta list-inline mb-0">
                                <li class="list-inline-item mb-0">
                                    DIII-D
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article class="card mb-2">
                    <div class="card-body d-flex">
                        <div class="ml-3">
                            <h4><a href="/pathfinders/climate" style="color: #000;">Climate and Earth Science</a></h4>
                            <ul class="card-meta list-inline mb-0">
                                <li class="list-inline-item mb-0">
                                    Earth System Grid Federation 2 (ESGF2)
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div> -->
        </div>
    </div>
</section>