<header class="navigation fixed-top" style="background-color: #fff;">
    <div class="container">
        {% include menu.html %}
    </div>
</header>

<div class="banner text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <h3 class="mb-3" style="color: #ddd"><img src="/images/doe-sc-logo.png" style="width: 7em;" /></h3>
                <h2 style="color: #fff">INTEGRATED RESEARCH<br />INFRASTRUCTURE</h2>
                <h3 class="mb-5" style="color: #bbb; font-size: 1.2em">PROGRAM</h3>
                <p style="color: #ccc">TECHNICAL SUBCOMMITTEES</p>
                <ul class="list-inline widget-list-inline">
                    <li class="list-inline-item"><a href="/ts/outreach" style="color: #fff">Outreach and Engagement</a></li>
                    <li class="list-inline-item"><a href="/ts/interfaces" style="color: #fff">Interfaces</a></li>
                    <li class="list-inline-item"><a href="/ts/trustid" style="color: #fff">TRUSTID</a></li>
                    <!-- <li class="list-inline-item"><a href="tags.html">Decorate</a></li>
                    <li class="list-inline-item"><a href="tags.html">Demo</a></li>
                    <li class="list-inline-item"><a href="tags.html">Elements</a></li>
                    <li class="list-inline-item"><a href="tags.html">Fish</a></li>
                    <li class="list-inline-item"><a href="tags.html">Food</a></li>
                    <li class="list-inline-item"><a href="tags.html">Nice</a></li>
                    <li class="list-inline-item"><a href="tags.html">Recipe</a></li>
                    <li class="list-inline-item"><a href="tags.html">Season</a></li>
                    <li class="list-inline-item"><a href="tags.html">Taste</a></li>
                    <li class="list-inline-item"><a href="tags.html">Tasty</a></li>
                    <li class="list-inline-item"><a href="tags.html">Vlog</a></li>
                    <li class="list-inline-item"><a href="tags.html">Wow</a></li> -->
                </ul>
            </div>
        </div>
    </div>

    <svg class="banner-border" height="240" viewBox="0 0 2202 240" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M1 123.043C67.2858 167.865 259.022 257.325 549.762 188.784C764.181 125.427 967.75 112.601 1200.42 169.707C1347.76 205.869 1901.91 374.562 2201 1"
            stroke-width="2" />
    </svg>
</div>