<header class="navigation fixed-top" style="background-color: #fff;">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-white">
            <a class="navbar-brand order-1" href="/" style="color: #41785F; font-weight: bold;">
                <img src="/images/energy_seal.png" style="width: 1.5em;" /> IRI
            </a>
            <div class="collapse navbar-collapse text-center order-lg-2 order-3" id="navigation">
                <ul class="navbar-nav mx-auto">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/reports">Reports</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Events <i class="ti-angle-down ml-1"></i>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/events/sc24">Supercomputing (SC24)</a>

                            <!-- <a class="dropdown-item" href="index-full-left.html">Homepage Full With Left Sidebar</a>

                            <a class="dropdown-item" href="index-full-right.html">Homepage Full With Right Sidebar</a>

                            <a class="dropdown-item" href="index-list.html">Homepage List Style</a>

                            <a class="dropdown-item" href="index-list-left.html">Homepage List With Left Sidebar</a>

                            <a class="dropdown-item" href="index-list-right.html">Homepage List With Right Sidebar</a>

                            <a class="dropdown-item" href="index-grid.html">Homepage Grid Style</a>

                            <a class="dropdown-item" href="index-grid-left.html">Homepage Grid With Left Sidebar</a>

                            <a class="dropdown-item" href="index-grid-right.html">Homepage Grid With Right Sidebar</a> -->

                        </div>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            About <i class="ti-angle-down ml-1"></i>
                        </a>
                        <div class="dropdown-menu">

                            <a class="dropdown-item" href="about-me.html">About Me</a>

                            <a class="dropdown-item" href="about-us.html">About Us</a>

                        </div>
                    </li> -->

                    <!-- <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li> -->

                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Technical Subcommittees <i class="ti-angle-down ml-1"></i>
                        </a>
                        <div class="dropdown-menu">

                            <a class="dropdown-item" href="/ts/outreach">Outreach and Engagement</a>

                            <a class="dropdown-item" href="/ts/interfaces">Interfaces</a>

                            <a class="dropdown-item" href="/ts/trustid">TRUSTID</a>

                            <!-- <a class="dropdown-item" href="post-details.html">Post Details</a>

                            <a class="dropdown-item" href="post-elements.html">Post Elements</a>

                            <a class="dropdown-item" href="tags.html">Tags</a>

                            <a class="dropdown-item" href="search-result.html">Search Result</a>

                            <a class="dropdown-item" href="search-not-found.html">Search Not Found</a>

                            <a class="dropdown-item" href="privacy-policy.html">Privacy Policy</a>

                            <a class="dropdown-item" href="terms-conditions.html">Terms Conditions</a>

                            <a class="dropdown-item" href="404.html">404 Page</a> -->

                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
</header>

<div class="banner text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <h3 class="mb-3" style="color: #ddd"><img src="/images/doe-sc-logo.png" style="width: 7em;" /></h3>
                <h2 style="color: #fff">INTEGRATED RESEARCH<br />INFRASTRUCTURE</h2>
                <h3 class="mb-5" style="color: #ddd">Program</h3>
                <p style="color: #ccc">TECHNINAL SUBCOMMITTEES</p>
                <ul class="list-inline widget-list-inline">
                    <li class="list-inline-item"><a href="/ts/outreach" style="color: #fff">Outreach and Engagement</a></li>
                    <li class="list-inline-item"><a href="/ts/interfaces" style="color: #fff">Interfaces</a></li>
                    <li class="list-inline-item"><a href="/ts/trustid" style="color: #fff">TRUSTID</a></li>
                    <!-- <li class="list-inline-item"><a href="tags.html">Decorate</a></li>
                    <li class="list-inline-item"><a href="tags.html">Demo</a></li>
                    <li class="list-inline-item"><a href="tags.html">Elements</a></li>
                    <li class="list-inline-item"><a href="tags.html">Fish</a></li>
                    <li class="list-inline-item"><a href="tags.html">Food</a></li>
                    <li class="list-inline-item"><a href="tags.html">Nice</a></li>
                    <li class="list-inline-item"><a href="tags.html">Recipe</a></li>
                    <li class="list-inline-item"><a href="tags.html">Season</a></li>
                    <li class="list-inline-item"><a href="tags.html">Taste</a></li>
                    <li class="list-inline-item"><a href="tags.html">Tasty</a></li>
                    <li class="list-inline-item"><a href="tags.html">Vlog</a></li>
                    <li class="list-inline-item"><a href="tags.html">Wow</a></li> -->
                </ul>
            </div>
        </div>
    </div>

    <svg class="banner-border" height="240" viewBox="0 0 2202 240" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M1 123.043C67.2858 167.865 259.022 257.325 549.762 188.784C764.181 125.427 967.75 112.601 1200.42 169.707C1347.76 205.869 1901.91 374.562 2201 1"
            stroke-width="2" />
    </svg>
</div>