<nav class="navbar navbar-expand-lg navbar-white">
    <a class="navbar-brand order-1" href="/" style="color: #41785F; font-weight: bold;">
        <img src="/images/energy_seal.png" style="width: 1.5em;" /> IRI
    </a>
    <div class="collapse navbar-collapse text-center order-lg-2 order-3" id="navigation">
        <ul class="navbar-nav mx-auto">
            
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Subcommittees <i class="ti-angle-down ml-1"></i>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/ts/outreach">Outreach and Engagement</a>
                    <hr style="margin: 0.5em 0" />
                    <p class="text-center mb-0" style="color: #ccc; font-size: 0.8em;">TECHNICAL</p>
                    <a class="dropdown-item" href="/ts/interfaces">Interfaces</a>
                    <a class="dropdown-item" href="/ts/trustid">TRUSTID</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Pathfinder Projects <i class="ti-angle-down ml-1"></i>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/pathfinders/climate">Climate and Earth Science</a>
                    <a class="dropdown-item" href="/pathfinders/lightsources">Light Sources</a>
                    <a class="dropdown-item" href="/pathfinders/fusion">Plasma Physics and Fusion Energy</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/testbed">Testbed</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Events <i class="ti-angle-down ml-1"></i>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/events/sc24">Supercomputing (SC24)</a>
                    <a class="dropdown-item" href="/events/confab25">ESnet Confab 2025 (Confab25)</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/documents">Documents</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">About <i class="ti-angle-down ml-1"></i>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/about">What is IRI?</a>
                    <a class="dropdown-item" href="/about/governance">Governance Structure Elements </a>
                </div>
            </li>
        </ul>
    </div>

</nav>